.r1
{
    background-color: antiquewhite;
    height: 100px;
    margin: 10px;
}
.r2
{
    background-color: aqua;
    height: 100px;
    margin: 10px 10px;
}
.r3
{
    background-color: blue;
    height: 100px;
    margin: 10px 10px;
}
.r4
{
    background-color: blueviolet;
    height: 100px;
    margin: 10px 10px;
}
.r5
{
    background-color: darkgoldenrod;
    height: 100px;
    margin: 10px 10px;
}
.r6
{
    background-color: deeppink;
    height: 100px;
    margin: 10px 10px;
}
.r4r1
{
    background-color: brown;
    height: 100px;
}
.r4r2
{
    background-color: darkkhaki;
    height: 100px;
}
.r4c1
{
    background-color: cadetblue;
    height: 100px;
}
.r4c2
{
    background-color: chartreuse;
    height: 100px;
}
.r4c3
{
    background-color: chocolate;
    height: 100px;
}
.r5r1
{
    background-color: goldenrod;
    height: 100px;
}
.r5r2
{
    background-color: darksalmon;
    height: 100px;
}
.r5c1
{
    background-color: darkgreen;
    height: 100px;
}
.r5c2
{
    background-color: aquamarine;
    height: 100px;
}
.r5c3
{
    background-color: darkmagenta;
    height: 100px;
}
.r6c1
{
    background-color: darkslategray;
    height: 100px;
}
.r6c2
{
    background-color: darkgray;
    height: 100px;
}
.r6c3
{
    background-color:deepskyblue;
    height: 100px;
}
.r6c4
{
    background-color: firebrick;
    height: 100px;
}
.r7
{
    margin: 10px 10px;
}
.r7c1
{
    background-color: darksalmon;
    height: 100px;
}
.r7c2
{
    background-color: darkseagreen;
    height: 100px;
}
.r7c3
{
    background-color: darkslateblue;
    height: 100px;
}
.r3c1
{
    background-color: lightcoral;
    height: 100px;
}
.r3c2
{
    background-color: aquamarine;
    height: 100px;
}
.r3c3
{
    background-color: black;
    height: 100px;
}