
<!-- <div class="card flex justify-content-center">
    <p-button label="Submit" icon="pi pi-check"></p-button>
</div> -->


<!-- <button pButton pRipple label="Submit" class="p-button-success"></button> -->


<div class="card">
    <p-menubar [model]="items">
        <ng-template pTemplate="start">
            <img src="https://primefaces.org/cdn/primeng/images/primeng.svg" height="40" class="mr-2" />
        </ng-template>
        <ng-template pTemplate="end">
            <input type="text" pInputText placeholder="Search" class="w-full" />
        </ng-template>
    </p-menubar>
</div>


