body
{
    padding: 0;
    margin: 0;
    background-image: url("bg1.jpg");
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size:cover;
    position: relative;
    height: 100vh;
    cursor:wait;
}
.header
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #CCDBFD;
    width: 100%;
    height: 70px;
}
.navbar
{
    display: flex;
    gap : 30px;
    font-size: large;
}
.header a
{
    border: none;
    color: black;
    font-weight: bold;
    text-decoration: none;
}
.p2
{
    position: absolute;
    left: 45%;
    top:40%;
    font-size: 4rem;
    color: aliceblue;
    width:50%;
}
.user a
{    
    position: absolute;
    right: 90%;
    top: 22px;
    font-size: large;
    letter-spacing: 2px;
    font-family: 'Finger Paint', serif;
}