/* styles.css */
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%; /* Adjust as needed */
    max-width: 800px; /* Adjust as needed */
    height: 60%; /* Adjust as needed */
}

iframe {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: end;
}
